*{
  color: white;
  background-color: #00f;
}
.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: #00f;
  padding: 10px;
}
.grid-itemHeader {
  background-color: #00f;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.grid-item {
  background-color: #00f;
  border:2px solid #fff;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
