*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.flex-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
#team1,#team2{
  color: #fff;
  background-color: #00f;
  border: .1em solid #fff;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}
#team1{
  border-right: .05em solid #fff;
}
#team2{
  border-left: .05em solid #fff;
}
#score1,#score2{
  font-size: 3em;
}
.button{
  width: 100%;
  color: #fff;
  background-color: #00f;
  padding: 2em 0;
}
.button:hover{
  color: #00f;
  background-color: #fff;
}
